.app-bar {
    background: white;
    &__brand-logo {
        width: 150px;
        position: relative;
        top: 4px;
    }

    &__link {
        color: $secondary-color;
    }

    &__img-build-travis {
        position: relative;
        right: 3px;
        top: 4px;
    }
}
